<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Books</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."
    />
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" />
    <link href="styles/bootstrap.min.css" rel="stylesheet" />

    <script src="scripts/jquery-2.1.1.min.js"></script>
    <script src="scripts/jquery-ui-1.11.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/myApp.js"></script>
    <script src="scripts/Book.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store" />
    <link rel="icon" href="favicon.ico">

    <script>
        $(document).ready(function () {
            document.getElementById('returnURL').value = window.location.href.split('?booki        ')[0]
        });
    </script>
</head>

<body ng-app="BookApp">
    <div class="container-fluid" ng-controller="EditController">
        <table class="table table-condensed form">
            <thead>
                <tr>
                    <th>Reading</th>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Series</th>
                    <th>Author</th>
                    <th>Number</th>
                    <th>Image</th>
                    <th>Read</th>
                    <th>Audio</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr class="editor" id="{{book.Title}}">
                    <td><input type="checkbox" ng-model="book.Reading" id="Reading" /></td>
                    <td><input type="text" ng-model="book.Title" class="editbox" id="Title" /></td>
                    <td><input type="text" ng-model="book.Subtitle" class="editbox" id="Subtitle" /></td>
                    <td><input type="text" ng-model="book.Series" class="editbox" id="Series" /></td>
                    <td><input type="text" ng-model="book.Author" class="editbox AuthorAutoComplete" id="Author" /></td>
                    <td><input type="text" ng-model="book.Number" id="Number" /></td>

                    <td>
                        <div class="editbox imageBox">
                            <form action="upload.php" method="post" enctype="multipart/form-data">
                                <input type="text" ng-model="book.Image" ng-show="{{HasID}}" />
                                <input type="file" name="fileToUpload" id="Image">
                                <input type="submit" value="Upload" name="submit" ng-hide="true">
                            </form>
                        </div>
                    </td>

                    <td><input type="checkbox" style="margin:auto;width:50px" ng-model="book.Read" id="Read" /></td>
                    <td><input type="checkbox" style="margin:auto;width:50px" ng-model="book.Listened" id="Listened" /></td>

                    <td>
                        <form action="remove.php" method="post" enctype="multipart/form-data">
                            <input type="hidden" ng-model="book.Image" name="fileToRemove" id="fileToRemove" />
                            <input type="hidden" name="returnURL" id="returnURL" />
                            <button type="submit" value="Delete" ng-click="Remove($event, book.Key)" ng-show="{{HasID}}"><span class="fa fa-times"></span></button>
                        </form>
                    </td>
                    <td>
                        <button type="submit" value="Add" ng-click="Save($event, 0)"><span class="fa fa-save"></span></button>
                    </td>
            </tbody>
        </table>

        <input type="text" ng-model="searchText" placeholder="filter title or author">
        <table class="table table-striped ">
            <tr>
                <th>
                    <table class="table table-clear">
                        <td>Title</td>
                        <td>Author</td>
                    </table>
                </th>
            </tr>
            <tr ng-repeat="book in AllBooks | filter:searchText | orderBy: ['Author', 'Series', 'Number'] track by $index ">
                <td>
                    <a href="?bookid={{book.Key}}">
                        <table class="table table-clear">
                            <td>{{book.Title}}</td>
                            <td>{{book.Author}}</td>
                        </table>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>