<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Books</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styles/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="styles/style.css" rel="stylesheet" />
    <script src="scripts/jquery-2.1.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/myApp.js"></script>
    <script src="scripts/Book.js"></script>
    <script src="scripts/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <script type="text/javascript" src="scripts/materialize.min.js"></script>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1976D2">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1976D2">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1976D2">
    <link rel="icon" href="favicon.ico"> 
    <script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();
    });
    </script>
</head>

<body ng-app="BookApp">
    <div  ng-controller="BookController" ng-cloak>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>


                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#" ng-click="toggleFilter('all')" ng-class="{'active': isActive('all')}">{{Books.length}} Boeken</a></li>
                    <li><a href="#" ng-click="toggleFilter('readBooks')" ng-class="{'active': isActive('readBooks')}">{{ReadBooks.length}} Gelezen</a></li>
                    <li><a href="#" ng-click="toggleFilter('unreadBooks')" ng-class="{'active': isActive('unreadBooks')}">{{UnReadBooks.length}} Nog te lezen</a></li>
                    <li><a href="#" ng-click="toggleFilter('readingBooks')" ng-class="{'active': isActive('readingBooks')}">{{Reading.length}} Mee bezig</a></li>
                </ul>

                <div class="nav-content hide-on-med-and-down">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><a href="#" ng-click="toggleFilter('all')" ng-class="{'active': isActive('all')}">{{Books.length}} Boeken</a></li>
                        <li class="tab"><a href="#" ng-click="toggleFilter('readBooks')" ng-class="{'active': isActive('readBooks')}">{{ReadBooks.length}} Gelezen</a></li>
                        <li class="tab"><a href="#" ng-click="toggleFilter('unreadBooks')" ng-class="{'active': isActive('unreadBooks')}">{{UnReadBooks.length}} Nog te lezen</a></li>
                        <li class="tab"><a href="#" ng-click="toggleFilter('readingBooks')" ng-class="{'active': isActive('readingBooks')}">{{Reading.length}} Mee bezig</a></li>
                    </ul>
                </div>

                <form class="flip-horizontal">
                    <div class="input-field">
                    <input id="mysearch" type="search"  ng-model="searchText">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                    </div>
                </form>

            </div>
        </nav>


        <div class="container bodyArticle">
            <div class="author" ng-repeat="item in AuthorBook | filter:selectedAuthor | filter:searchText" ng-hide="(item | readFilter : readBooks).length == 0 || (item | unreadFilter:unreadBooks).length == 0  || (item | readingFilter:readingBooks).length == 0">
                <h3>{{item[0].Author}}</h3>
                <div class="books">
                    <div class="book card  text-center" id="{{book.Author}}" ng-repeat="book in item | readFilter:readBooks | unreadFilter:unreadBooks | readingFilter:readingBooks"
                        ng-init="read = book.Read; audio = book.Listened; reading = book.Reading;">
                        <input type="hidden" value="{{book.Title + '_' + book.Author}}" id="{{book.Title + '_' + book.Author}}" />
                        <div class="card-image">
                            <img data-id="{{$index}}" ng-src="{{book.Image}}" err-src="images/noimage.jpg" class="cover img-center" alt="image">
                            <a href="Edit.html?bookid={{book.Key}}" class="btn-floating halfway-fab"><i class="material-icons">edit</i></a>
                        </div>
                        <div class="card-stacked">
                            <div class="data card-content">
                                <p data-id="{{$index}}" class="card-title">{{book.Title}}</p>
                                <p data-id="{{$index}}" class="subtitle">{{book.Subtitle}}</p>
                                <p data-id="{{$index}}" class="series">{{book.Series}}</p>
                           </div>
                        </div>

                        <div class="banner" ng-if="read && !audio">
                            <svg height="100" width="100">
                                <polygon points="0,0 50,0 100,50 100,100" class="finished" />
                                <text x="39" y="-12" fill="WHITE" transform="rotate(45)">GELEZEN </text>
                            </svg>
                        </div>
                        <div class="banner" ng-if="read && audio">
                            <svg height="100" width="100">
                                <polygon points="0,0 50,0 100,50 100,100" class="audio" />
                                <text x="30" y="-12" fill="WHITE" transform="rotate(45)">GELUISTERD</text>
                            </svg>
                        </div>
                        <div class="banner" ng-if="reading">
                            <svg height="100" width="100">
                                <polygon points="0,0 50,0 100,50 100,100" class="reading" />
                                <text x="35" y="-12" fill="WHITE" transform="rotate(45)">MEE BEZIG</text>
                            </svg>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>