<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Books</title>
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styles/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="styles/style.css?v=2" rel="stylesheet" />
    <script src="scripts/jquery-2.1.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/myApp.js?v=1"></script>
    <script src="scripts/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#1976D2">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1976D2">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#1976D2">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="favicon.ico">
</head>

<body ng-app="BookApp">
    <div ng-controller="BookController" ng-cloak>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><a ng-click="toggleFilter(filterTypes.all)"
                                ng-class="{'active': filter == filterTypes.all}">{{AllBooks.length}} Boeken</a></li>
                        <li class="tab"><a ng-click="toggleFilter(filterTypes.read)"
                                ng-class="{'active': filter == filterTypes.read}">{{(AllBooks | readFilter:true).length}}
                                Gelezen</a></li>
                        <li class="tab"><a ng-click="toggleFilter(filterTypes.unread)"
                                ng-class="{'active': filter == filterTypes.unread}">{{(AllBooks | unreadFilter:true).length}}
                                Nog te lezen</a></li>
                        <li class="tab"><a ng-click="toggleFilter(filterTypes.reading)"
                                ng-class="{'active': filter == filterTypes.reading}">{{(AllBooks | readingFilter:true).length}}
                                Mee bezig</a></li>
                    </ul>
                </div>
                <form class="flip-horizontal">
                    <div class="input-field">
                        <input id="mysearch" type="search" ng-model="searchText">
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>

        <div class="container bodyArticle">
            <div class="author" ng-repeat="author in AllBooks | groupBy:'Author' | orderBy:'Author'| filter:searchText"
                ng-hide="(author.items | readFilter : filter === filterTypes.read).length == 0 || (author.items | unreadFilter:filter === filterTypes.unread).length == 0  || (author.items | readingFilter:filter === filterTypes.reading).length == 0">
                <h3>{{author.Author}}</h3>
                <div class="books">
                    <div class="book card text-center" id="{{book.Author}}"
                        ng-repeat="book in author.items | readFilter:(filter === filterTypes.read) | unreadFilter:(filter === filterTypes.unread)  | readingFilter:(filter === filterTypes.reading)  |  orderBy: ['Series', 'Number']">
                        <div class="card-image">
                            <figure>
                                <img ng-src="{{book.Image}}" err-src="images/noimage.jpg" class="cover img-center"
                                    alt="image">
                            </figure>
                            <a href="Edit.html?bookid={{book.Key}}" class="btn-floating halfway-fab"><i
                                    class="material-icons">edit</i></a>
                        </div>
                        <div class="card-stacked">
                            <div class="data card-content">
                                <p class="card-title">{{book.Title}}</p>
                                <p class="subtitle">{{book.Subtitle}}</p>
                                <p class="series">{{book.Series}}</p>
                            </div>
                        </div>
                        <div class="banner" ng-if="book.Read && !book.Listened">
                            <svg height="100" width="100">
                                <polygon points="0,0 50,0 100,50 100,100" class="finished" />
                                <text x="39" y="-12" fill="WHITE" transform="rotate(45)">GELEZEN </text>
                            </svg>
                        </div>
                        <div class="banner" ng-if="book.Read && book.Listened">
                            <svg height="100" width="100">
                                <polygon points="0,0 50,0 100,50 100,100" class="audio" />
                                <text x="30" y="-12" fill="WHITE" transform="rotate(45)">GELUISTERD</text>
                            </svg>
                        </div>
                        <div class="banner" ng-if="book.Reading">
                            <svg height="100" width="100">
                                <polygon points="0,0 50,0 100,50 100,100" class="reading" />
                                <text x="35" y="-12" fill="WHITE" transform="rotate(45)">MEE BEZIG</text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>