<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Books</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version." />
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-ui-1.11.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/myApp.js"></script>
    <link href="css/style.css?v=2" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <script src="books.json"></script>
    <script src="js/Book.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-store" />
</head>
<body ng-app="BookApp">
    <div class="container" ng-controller="BookController" ng-cloak>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Baggins</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <select id="AuthorDropDown" ng-model="selectedAuthor">
                                <option style="color:grey" value="">Authors</option>
                                <option ng-repeat="item in Authors" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-click="toggleFilter('all')" ng-class="{'active': isActive('all')}">{{Books.length}} Boeken</a></li>
                        <li><a href="#" ng-click="toggleFilter('readBooks')" ng-class="{'active': isActive('readBooks')}">{{ReadBooks.length}} Gelezen</a></li>
                        <li><a href="#" ng-click="toggleFilter('unreadBooks')" ng-class="{'active': isActive('unreadBooks')}">{{UnReadBooks.length}} Nog te lezen</a></li>
                        <li><a href="#" ng-click="toggleFilter('readingBooks')" ng-class="{'active': isActive('readingBooks')}">{{Reading.length}} Mee bezig</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <div class="row author" ng-repeat="item in AuthorBook | filter:selectedAuthor"
             ng-hide="(item | readFilter : readBooks).length == 0
             || (item | unreadFilter:unreadBooks).length == 0 
             || (item | readingFilter:readingBooks).length == 0">
            <h3 class="col-sm-12">{{item[0].Author}}</h3>
            <div class="books col-sm-12">
                <div class="book col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center" id="{{book.Author}}" ng-repeat="book in item | readFilter:readBooks | unreadFilter:unreadBooks | readingFilter:readingBooks" ng-init="read = book.Read; audio = book.Listened; reading = book.Reading">
                    <input type="hidden" value="{{book.Title + '_' + book.Author}}" id="{{book.Title + '_' + book.Author}}" />
                    <div class="flexBook" ng-hide="editmode">
                        <div class="col-xs-6 col-sm-12 image">
                            <img data-id="{{$index}}" ng-src="{{book.Image || 'images/noimage.jpg'}}" class="cover img-center" alt="image">
                        </div>
                        <div class="col-xs-6 col-sm-12 data">
                            <p data-id="{{$index}}" class="title">{{book.Title}}</p>
                            <p data-id="{{$index}}" class="subtitle">{{book.Subtitle}}</p>
                            <p data-id="{{$index}}" class="series">{{book.Series}}</p>
                        </div>
                    </div>

                    <div class="banner" ng-if="read && !audio">
                        <svg height="100" width="100">
                            <polygon points="0,0 50,0 110,60 110,109" style="fill:#52AA39;" />
                            <text x="39" y="-12" fill="WHITE" transform="rotate(45)">GELEZEN </text>
                        </svg>
                    </div>
                    <div class="banner" ng-if="read && audio">
                        <svg height="100" width="100">
                            <polygon points="0,0 50,0 110,60 110,109" style="fill:#E77E22;" />
                            <text x="30" y="-12" fill="WHITE" transform="rotate(45)">GELUISTERD</text>
                        </svg>
                    </div>
                    <div class="banner" ng-if="reading">
                        <svg height="100" width="100">
                            <polygon points="0,0 50,0 110,60 110,109" style="fill:#2A80B9;" />
                            <text x="35" y="-12" fill="WHITE" transform="rotate(45)">MEE BEZIG</text>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>