* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

.v-card__subtitle,
.v-card__title {
  width: 200px;
  word-break: break-word !important; }

.content {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .content .grow {
    flex-grow: 1; }
  .content .v-image {
    flex: 0 auto !important; }

header.v-sheet {
  max-height: 64px; }

.v-badge {
  position: absolute !important;
  right: 0 !important;
  z-index: 2 !important; }
