body {
  background-color: #fafafa !important;
}
body .container {
  max-width: 100%;
  min-height: 100vh;
}
.books {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.books h3 {
  width: 100%;
}
.books .book {
  width: 208px;
}
.books .book.horizontal {
  width: 449px !important;
}
.books .book img {
  display: block;
  max-width: 100%;
  width: auto;
  height: 275px;
  margin: 12px auto 0;
}
.books .book .flexBook {
  float: left;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.books .book .card-stacked {
  display: flex;
  flex-direction: column;
  height: calc(-175%);
}
.books .book .data {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.books .book .subtitle,
.books .book .series {
  margin: 0;
}
.books .book .banner svg {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
}
.books .book .banner svg .finished {
  fill: #52AA39;
}
.books .book .banner svg .audio {
  fill: #E77E22;
}
.books .book .banner svg .reading {
  fill: #2A80B9;
}
p:empty {
  display: none;
}
table.table {
  margin-top: 10px;
}
table.table.table-clear {
  background-color: transparent !important;
  border: none;
  margin: 0;
}
table.table.table-clear td {
  border: none;
  width: 50%;
  padding: 0;
}
table.table thead tr th {
  padding-right: 10px;
}
nav {
  background-color: #1976D2;
  color: #444;
}
nav form {
  height: 64px;
}
@media only screen and (max-width: 990px) {
  .scaleX {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  nav form {
    height: 64px;
    @extend .scaleX;
  }
  nav form .input-field input[type=search] {
    width: calc(99%);
  }
  nav form .input-field input[type=search] ~ .material-icons {
    display: none;
  }
  nav a.button-collapse {
    z-index: 1;
  }
  #mysearch {
    position: absolute;
    top: 0;
    margin: 0;
    @extend .scaleX;
  }
  .books .book {
    width: calc(40%);
    margin-right: 10px;
  }
  .books .book img {
    max-width: 90%;
    max-height: 275px;
    width: auto;
    height: auto;
  }
  .card .card-title {
    font-size: 1.4em;
    line-height: initial !important;
  }
  h3 {
    font-size: 2.32rem;
  }
}
.ui-autocomplete {
  max-width: 350px;
  border: 1px solid;
  background: white;
  list-style: none;
  padding: 5px 10px;
}
.ui-autocomplete li {
  cursor: pointer;
}
.full,
td input {
  width: 100% !important;
}
.custom-file-control:after {
  content: '' !important;
}
.table-striped tbody tr:hover {
  cursor: pointer !important;
  background: lightgrey !important;
}
.edit form {
  margin-top: 25px;
}
.edit form:first-of-type {
  margin-top: 10px !important;
}
.abbr {
  width: 195px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}