@media (max-width: 768px) {
    .cover {
        width: initial;
        height:initial;
    }
    p {
        text-align: left;
    }
    .data {
        padding-top: 10px;
    }
	.data p {
        white-space: initial !important;
    }

    .banner svg {
        transform: rotate(270deg);
        left: 0;
    }
}

body {
    background-color: #fafafa !important;
}

    body > .container {
        -webkit-box-shadow: 0px 0px 79px 0px rgba(0,0,0,0.61);
        -moz-box-shadow: 0px 0px 79px 0px rgba(0,0,0,0.61);
        box-shadow: 0px 0px 79px 0px rgba(0,0,0,0.61);
        padding: 0 20px 20px;
        min-height: 100vh;
    }

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    border: 1px solid #CECECE;
    padding: 0 !important;
}

    .book:hover {
        -webkit-box-shadow: 0px 0px 36px 12px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 0px 36px 12px rgba(0,0,0,0.18);
        box-shadow: 0px 0px 36px 12px rgba(0,0,0,0.18);
    }

.cover {
    margin: 10px auto;
    display: block;
    max-width: 100%;
	width: auto;
    height: 240px;	
}

abbr {
    border-bottom: none !important;
    cursor: default !important;
}

p:empty{
    display:none;
}

#AuthorDropDown {
    width: auto;
}

.banner svg {
    z-index: 10;
    position: absolute;
    right: 0;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0 !important;
}

.navbar-default .navbar-nav > li > a.active:hover, 
.navbar-default .navbar-nav > li > a.active:focus{
    color:#777!important;
}
.edit {
    width: 250px;
}

.editor:hover {
    background-color: #CECECE;
} 
.checkbox {
    margin: auto;
    width: 50px;
}
a.active {
    font-weight: bold !important;
    cursor: default;
}


table thead tr th {
    padding-right:10px;
}

table tbody tr td input[type="checkbox"]{
     margin:auto;
     width:50px;
}

table {
    margin-top:10px
}
table.table-striped{
    margin-top:25px!important;
}
input{
    width:100%;
}
input[type=file] {
    display: inline-block;
    width: 200px;
}
.table.table-clear{
    background-color: transparent!important;
    border: none;
    margin: 0;

}
.table.table-clear td{
    border:none;
    width:50%;
    padding:0;
}