<table>
    <thead>
        <tr>
            <td></td>
            <th>Reading</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Series</th>
            <th>Author</th>
            <th>Number</th>
            <th>Image</th>
            <th>Read</th>
            <th>Audio</th>
            <td></td>

        </tr>
    </thead>
    <tbody>     
        <tr *ngIf="IsNewInstance()">
            <td></td>
            <td><input id="Reading_0" type="checkbox" [(ngModel)]="Book.Reading" /></td>
            <td><input id="Title_0" type="text" class="editbox"[(ngModel)]="Book.Title" /></td>
            <td><input id="Subtitle_0" type="text" class="editbox" [(ngModel)]="Book.Subtitle"  /></td>
            <td><input id="Series_0" type="text" class="editbox" [(ngModel)]="Book.Series"/></td>
            <td><input id="Author_0" type="text" class="editbox AuthorAutoComplete" [(ngModel)]="Book.Author"/></td>
            <td><input id="Number_0" type="number" [(ngModel)]="Book.Number"></td>
            <td>
                <input type="file" id="uploadNew" multiple="multiple"/> 
            </td>
            <td><input id="Read_0" type="checkbox"  [(ngModel)]="Book.Read"/></td>
            <td><input id="Listened_0" type="checkbox" [(ngModel)]="Book.Listened"/></td>
            <td>
                <button type="submit" value="Add" (click)="Add()"><span class="glyphicon glyphicon-plus"></span></button>
            </td>
        </tr>
        <tr *ngIf="!IsNewInstance()" class="editor" id="{{Book.Title}}">
            <td>
                <button type="submit" value="Save" (click)="Save(true)"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </td>
            <td><input type="checkbox" [(ngModel)]="Book.Reading" /></td>
            <td><input type="text" [(ngModel)]="Book.Title" class="editbox" /></td>
            <td><input type="text" class="editbox" id="Subtitle_{{Book.Key}}" [(ngModel)]="Book.Subtitle" /></td>
            <td><input type="text" class="editbox" id="Series_{{Book.Key}}" [(ngModel)]="Book.Series" /></td>
            <td><input type="text" class="editbox AuthorAutoComplete" id="Author_{{Book.Key}}" [(ngModel)]="Book.Author" /></td>
            <td><input type="number" [(ngModel)]="Book.Number" id="Number_{{Book.Key}}" /></td>

            <td>
                <div class="editbox imageBox">
                    <input type="text" [(ngModel)]="Book.Image" />
                    <input type="file" id="uploadOverwrite" multiple="multiple" /> 
                </div>
            </td>

            <td><input type="checkbox" [(ngModel)]="Book.Read" id="Read_{{Book.Key}}" /></td>
            <td><input type="checkbox" [(ngModel)]="Book.Listened" id="Listened_{{Book.Key}}" /></td>

            <td>
                <button type="submit" value="Delete" (click)="Remove(Book.Key)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-hover">
    <tr *ngFor="let Book of Books">
        <td>
            <a href="?bookid={{Book.Key}}">{{Book.Title}}</a>
        </td>
        <td>
            {{Book.Author}}
        </td>
    </tr>
</table>