// Variables
$finishedBannerColor:#52AA39;
$audioBannerColor:#E77E22;
$readingBannerColor:#2A80B9;
$navColor:#1976D2;

body {
    background-color: #fafafa !important;
    & .container {
        max-width:100%;
        min-height: 100vh;       
    } 
} 

// Books
.books {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    h3{
        width:100%;
    }
    .book {
        width: 208px;
        &.horizontal{
            width: 449px!important; 
        }        

        img {
            display: block;
            max-width: 100%;
            width: auto;
            height: 275px;	
            margin: 12px auto 0;
        }
        
        .flexBook {	
            float: left;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

        }
        .card-stacked{
            display: flex;
            flex-direction: column;
            height: calc(100% - 275px);
        }
        .data {
            flex-grow: 1;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }

        .subtitle,
        .series{
            margin:0;
        }
        .banner {
            svg {
                z-index: 10;
                position: absolute;
                right: 0;
                top:0;

                .finished{
                    fill:$finishedBannerColor;
                }
                .audio{
                    fill:$audioBannerColor;
                }
                .reading{
                    fill:$readingBannerColor;
                }
            }
        }
    }
}

p:empty{
    display:none;
}


table.table {
    margin-top:10px;

    &.table-clear{
        background-color: transparent!important;
        border: none;
        margin: 0;
        td {
            border:none;
            width:50%;
            padding:0;
        }
    }

    &.table-striped{
        margin-top:25px!important;
    }

    thead {
        tr {
            th {
                padding-right:10px;
            }
        }
    }

    tbody {
        tr{
            td{
               
            }
        }
    }
}

//Material overwrite
nav{
    background-color:$navColor;    
    color:#444;

    form {
        height: 64px;        
    }
}

@media only screen and (max-width: 990px){
    .scaleX{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    nav {
        form {
            height: 64px;
            @extend .scaleX;

            .input-field input[type=search]{
                width: calc(100% - 1rem);
                 ~ .material-icons{
                    display:none; 
                }
            }
        }
        a.button-collapse{
            z-index: 1;
        }
    }

    #mysearch{
        position:absolute;
        top:0;
        margin:0;
         @extend .scaleX;
    } 
}

// @media only screen and (max-width: 710px){
//     .books {
//         .book {
//             img {
//                 margin-top:0!important
//             }

//             .btn-floating{
//                 right: 8px;
//                 bottom: 28px;   
//             }
//             .card-stacked{
//                     height: 100%;
//                 .card-content{
//                     display: block;
//                     padding-right: 55px;
//                  }
//             }
           
//         }
//     }
// }