body {
  background-color: #fafafa !important; }
  body .container {
    max-width: 100%;
    min-height: 100vh; }

.books {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .books .book {
    width: 208px; }
    .books .book.horizontal {
      width: 449px !important; }
    .books .book img {
      display: block;
      max-width: 100%;
      width: auto;
      height: 275px;
      margin: 0px auto; }
    .books .book .flexBook {
      float: left;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column; }
    .books .book .card-stacked {
      display: flex;
      flex-direction: column;
      height: calc(100% - 275px); }
    .books .book .data {
      flex-grow: 1;
      justify-content: space-between;
      display: flex;
      flex-direction: column; }
    .books .book .subtitle,
    .books .book .series {
      margin: 0; }
    .books .book .banner svg {
      z-index: 10;
      position: absolute;
      right: 0;
      top: 0; }
      .books .book .banner svg .finished {
        fill: #52AA39; }
      .books .book .banner svg .audio {
        fill: #E77E22; }
      .books .book .banner svg .reading {
        fill: #2A80B9; }

p:empty {
  display: none; }

input {
  width: 100%; }

input[type=file] {
  display: inline-block;
  width: 200px; }

table.table {
  margin-top: 10px; }
  table.table.table-clear {
    background-color: transparent !important;
    border: none;
    margin: 0; }
    table.table.table-clear td {
      border: none;
      width: 50%;
      padding: 0; }
  table.table.table-striped {
    margin-top: 25px !important; }
  table.table thead tr th {
    padding-right: 10px; }
  table.table tbody tr td input[type="checkbox"] {
    margin: auto;
    width: 50px; }

nav {
  background-color: #1976D2;
  color: #444; }

.input-field input[type=search] {
  min-height: 48px;
  margin: 0; }

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 50px;
  line-height: 50px; }

@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 48px; } }

@media only screen and (max-width: 990px) {
  nav form {
    float: left;
    width: 100%; }
  .input-field input[type=search] {
    border-top: 1px solid #444 !important;
    border-bottom: 1px solid #444 !important; }
  nav .input-field label i {
    color: #444 !important; } }
